:host {
  display: block;
}

.timeline-svg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.x-axis path {
  fill: none;
  stroke: none;
}

.selection {
  fill: #ffffff;
  stroke: rgb(25, 42, 201);
  stroke-width: 1.5px;
  height: 85px;
  fill-opacity: 1;
}