:host {
  display: block;
  height: 100%;
  padding: 25px;
}

.events,
.lains {
  display: flex;
  justify-content: space-between;
}

.lains {
  transform: perspective(254px) rotateX(32deg) scale(0.65);
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.category {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  color: grey;
}

.wrapper {
  flex: 1;
}

.wrapper:not(:last-of-type) {
  margin-right: 5px;
}

.card {
  width: 100%;
  height: 530px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-bottom: 4px solid grey;
  /* box-shadow: 0px 20px 100px #555; */
  /* transition: 0.5s ease all; */
}
